/* GLOBAL */
:root {
  --background-color: #f2f1ee;
  --dark-background-color: #002350;
  --text-color: #023e8d;
  --text-color-clear: #023e8d83;
  --clear: #ffffff00;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: transparent !important;
}

#main-div {
  background: transparent;
  background-color: transparent;
  margin-top: 120px;
  min-width: 300px;
}

/* STYLES */
.no-borders {
  border: 0px;
}

.borders {
  text-align: center;
  border: 0.8px solid var(--text-color);
  border-radius: 15px;
}

.dark-button {
  background-color: var(--text-color);
  color: var(--background-color);
  border: 0.8px solid var(--text-color);
  border-radius: 15px;
}

.dark-button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hidden {
  display: none;
}

.title {
  font-size: calc(20px + 2vw);
  text-align: center;
  font-weight: 300;
  color: var(--text-color);
}

/* FONTS */
.sofia {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* HEADER */
#logo {
  font-size: 30px;
  text-decoration: none;
  color: var(--text-color);
}

header {
  min-width: 300px;
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: 2;
  background-color: var(--background-color);
}

#logout,
#login {
  padding: 6px 20px 6px 20px;
  color: var(--text-color);
}

/* HOME PAGE */
#homepage {
  background: var(--clear);
  background-color: var(--clear);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

#homepage-video {
  background: var(--clear);
  width: 90vw;
  height: calc(9 / 16 * 90vw);
  max-height: 90vh;
}

#homepage-video iframe {
  background: var(--clear);
  width: 90vw;
  height: calc(9 / 16 * 90vw);
  max-height: 90vh;
  margin-top: 15px;
}

#start-crafting {
  color: var(--background-color);
  background-color: var(--text-color);
  margin: 30px 0px 40px 0px;
  border-radius: 30px;
  padding: 4px 15px 4px 15px;
}

#start-crafting:hover {
  color: var(--text-color);
  background: var(--background-color);
}

.loading-spinner {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 4px solid;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  top: 40%;
  left: calc(50% - 40px);
}

.bg-image {
  background-image: url(client/public/images/ThreadPattern.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LOGIN PAGE */
#login-page {
  min-width: 300px;
}

#show-login-buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

#show-login-button,
#show-signup-button {
  font-size: 26px;
  padding-bottom: 6px;
  border-bottom: 0.8px solid var(--clear);
  margin-bottom: 24px;
}

#show-login-button:hover,
#show-signup-button:hover {
  border-bottom: 0.8px solid var(--text-color);
}

#login-main-div,
#signup-section-div,
#login-section-div,
#google-oauth-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#login-main-div {
  min-width: 300px;
}

#google-oauth-div {
  margin-top: 10px;
  width: 100%;
  align-items: center;
}

#login-main-div p {
  font-size: 22px;
  font-weight: 350;
  text-align: left;
  margin: 5px 0px 5px 0px;
}

#homepage-video iframe {
  background: var(--clear);
  width: 90vw;
  height: calc(9 / 16 * 90vw);
  max-height: 90vh;
}

#homepage-content {
  margin-top: 20px;
}

.loading-spinner {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 4px solid;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  top: 40%;
  left: calc(50% - 40px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#login-section,
#signup-section,
#login-page {
  background-color: var(--clear);

  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#login-div,
#signup-div {
  background-color: var(--background-color);
  padding: 10px 20px 20px 20px;
  width: 100%;
}

#google-oauth {
  background-color: var(--background-color);
  padding: 12px;

  width: 100%;
  padding: 10px 20px 10px 20px;
  text-align: center !important;
}

#logout,
#show-login-button,
#show-signup-button {
  color: var(--text-color);
  background-color: var(--clear);
}

#signup:hover,
#login:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#login-button,
#signup-button {
  margin-top: 12px;
  font-size: 20px;
  padding: 4px 18px 4px 18px;
  border-radius: 20px;
}

#login-div input,
#signup-div input {
  width: 100%;
  background-color: var(--clear);
  color: var(--text-color);
}

.login-alert {
  color: var(--text-color);
  font-size: 16px !important;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

/* DASHBOARD */
#dashboard {
  color: var(--text-color);
  min-width: 300px;
}

#dashboard-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 5vw 30px 5vw;
}

#profile {
  margin: 0 auto;
  width: 300px;
  padding: 6px 6px 6px 6px;
  background-color: var(--background-color);
}

#projects {
  padding: 10px;
}

#inner-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-img {
  border: 0.8px solid var(--text-color);
  border-radius: 50%;
  height: 100px;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

#user-info {
  padding: 0px 20px 0px 10px;
}

#inner-profile h2 {
  font-size: 16px;
  font-weight: 400;
}

/* MOBILE */
@media (min-width: 601px) {
  .container {
    grid-template-columns: 1fr; /* Stacks columns on top of each other */
  }
}

#inner-profile p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

#change-avatar {
  color: var(--background-color);
  margin-top: 10px;
  background-color: var(--text-color);
  padding: 4px 15px 4px 15px;
  font-size: 14px;
}

#change-avatar:hover {
  color: var(--text-color);
  background-color: var(--clear);
  border: 0.8px solid var(--text-color);
}

#avatar-modal-background {
  background: #0023503d;
  display: flex !important;
}

#avatar-modal {
  background: var(--background-color);
  border: 0.8px solid var(--text-color);
}

#avatar-modal-header {
  border-bottom: 0.8px solid var(--text-color);
  display: flex;
  justify-content: space-between;
}

#avatar-modal-x {
  background-color: var(--clear);
  border: 0px;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
}

.avatar {
  width: 80px;
  margin: 6px;
}

/* MY PROJECTS PAGE */
#my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.my-project-single {
  text-align: center;
  border: 0.8px solid var(--text-color);
  height: 150px;
  min-width: 300px;
  width: 90vw;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  position: relative;
}

.my-project-single:hover {
  background-color: var(--text-color-clear);
  color: var(--background-color);
}

#delete-my-project {
  position: absolute;
  right: 11px;
  top: 40px;
  color: var(--text-color);
}

#delete-my-project:hover {
  color: var(--background-color);
}

.success {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 300;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 446px) {
  .my-project-single {
    width: 60vw;
  }

  .success {
    width: 60vw;
  }
}

/* SURVEY PAGE */
#survey-page {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  text-align: center;
}

#option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#nextquestion {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 4px 15px 4px 15px;
  margin-top: 20px;
}

.button-options {
  text-align: center;
  border: 0.8px solid var(--text-color);
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.button-options:hover {
  background-color: var(
    --text-color
  ); /* Change the background color on hover */
  color: var(--background-color); /* Change the text color on hover */
}

.button-options.clicked {
  background-color: var(
    --text-color
  ); /* Change the background color after click */
  color: var(--background-color);
}

#label {
  cursor: pointer;
}

/* HEART CHECKBOXES */
.heart-checkbox input[type="checkbox"] {
  display: none;
}

.heart-checkbox label {
  cursor: pointer;
}

.heart-checkbox input[type="checkbox"]:hover + label:before {
  color: white;
}

.heart-checkbox label:before {
  content: "\2665"; /* Unicode for heart symbol */
  position: absolute;
  right: 6px;
  top: 6px;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: var(--text-color);
  background-color: var(--clear);
}

.heart-checkbox input[type="checkbox"]:checked + label:before {
  background-color: red; /* Change color when checked */
  color: white; /* Change color of heart symbol when checked */
}

.form-check {
  padding: 0 !important;
}

.btn-close {
  position: absolute;
  right: 6px;
  top: 6px;
}

/* EXPLORE PAGE */
#explore {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  text-align: center;
}

#featured-craft {
  font-weight: bold;
  font-size: 70px;
}

#featured-craft:hover {
  color: white;
}

p {
  font-size: 40px;
  font-weight: bold;
}

#search-button {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 12px 24px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
}

#search-form {
  margin-top: 20px;
  width: 100%;
  margin: 10px;
  transition: background-color 0.3s; /* Add a smooth transition effect */
  background-color: var(--background-color); /* Initial background color */
  color: var(--text-color); /* Initial text color */
}

/* NEW PROJECT PAGE */
.dashboard-proj-button {
  width: 280px;
  padding: 6px 15px 6px 15px;
  margin: 15px auto 15px auto;
  font-size: 18px;
}

.dashboard-proj-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#new-proj {
  margin: 0px 10vw 40px 10vw;
}

#new-project-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 80vw;
  min-width: 280px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 40px;
}

#new-project-form p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  margin: 0px;
}

.instruction {
  margin: 12px 0px 2px 0px !important;
}

.sub-instruction {
  font-size: 14px !important;
}

#new-project-form input {
  width: 100%;
  border-radius: 15px;
  border: 0.8px solid var(--text-color);
  padding: 4px 10px 4px 10px;
  background-color: var(--clear);
  color: var(--text-color);
}

#create-project {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  padding: 4px 20px 4px 20px;
  width: 200px;
  border-radius: 20px;
}

#price-point,
#difficulty,
#craft-type {
  color: var(--text-color);
  background-color: var(--clear);
  text-align: left;
}

@media (max-width: 340px) {
  #new-proj {
    margin: 0 auto;
  }

  #new-project-form {
    width: 280px;
  }
}

@media (min-width: 600px) {
  #new-proj {
    margin: 0px 20vw 40px 20vw;
  }

  #new-project-form {
    width: 60vw;
  }
}

/* EFFECTS */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* LARGE MOBILE */
@media (min-width: 446px) {
  /* HEADER */
  #logo {
    font-size: 36px;
  }

  /* DASHBOARD */
  #profile {
    width: 400px;
    padding: 10px 10px 10px 10px;
  }

  #profile-img {
    height: 150px;
    height: 150px;
  }

  #user-info {
    padding: 0px 20px 0px 10px;
  }

  #inner-profile h2 {
    font-size: 20px;
  }

  #inner-profile p {
    font-size: 16px;
  }

  #change-avatar {
    font-size: 16px;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 601px) {
  /* DASHBOARD */
  #avatar-modal-background {
    align-items: center;
  }

  .avatar {
    width: 100px;
    margin: 7px;
  }
}

/* LARGE SCREENS */
@media (min-width: 925px) {
  /* DASHBOARD */
  #dashboard-inner {
    flex-direction: row;
    gap: 40px;
    margin: 30px 10vw 30px 10vw;
  }

  #profile {
    margin: 0;
    padding: 15px 0px 15px 0px;
    width: 280px;
  }

  #inner-profile {
    flex-direction: column;
  }

  #profile-img {
    margin: 10px 0px 10px 0px;
    height: 220px;
    width: 220px;
  }

  #user-info {
    padding: 0px;
  }

  #inner-profile h2 {
    font-size: 24px;
  }

  #inner-profile p {
    font-size: 18px;
  }

  #change-avatar {
    font-size: 18px;
  }
}

/* DESKTOP */
@media (min-width: 1000px) {
  /* DASHBOARD */
  .avatar {
    width: 120px;
    margin: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

@media (min-width: 1250px) {
  /* HOMEPAGE */
  #homepage-video {
    width: 62vw;
    height: calc(9 / 16 * 62vw);
  }

  #homepage-video iframe {
    width: 62vw;
    height: calc(9 / 16 * 62vw);
  }

  #start-crafting {
    margin: 20px 0px 40px 0px;
  }
}

/* EXPLORE PAGE */

.column {
  flex: 1; /* Each column takes equal space */
  margin: 0 10px; /* Space between columns */
  padding: 20px;
  border-right: 2px solid var(--text-color);
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.pottery-btn {
  background-image: url("https://i.imgur.com/nGXmgVB.jpeg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


}

.pottery-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.crochet-btn {
  background-image: url("https://i.imgur.com/UL5CsFA.jpeg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


}

.crochet-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.glass-btn {
  background-image: url("https://i.imgur.com/b2hCnxj.jpeg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.glass-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.jewelry-btn {
  background-image: url("https://i.imgur.com/Hbt9VY9.jpg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

.jewelry-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.knitting-btn {
  background-image: url("https://i.imgur.com/AWf9kbp.jpeg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.knitting-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.clay-btn {
  background-image: url("https://i.imgur.com/bi3b7o6.jpg"); /* URL of the background image */
  background-size: cover; /* Ensures the image covers the button */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  color: white; /* Text color for visibility */
  height: 200px;
  /* width: 200px; */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clay-btn:hover {
  opacity: 0.7; /* Slightly fade the button on hover */
}

.dropdown {
  /* border-bottom: 2px solid var(--text-color); */
  padding-bottom: 20px;
}

#featured-craft {
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 20px;
}

#explore-feature {
  border-top: 2px solid var(--text-color);
  padding-top: 20px;
}

.hero {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  opacity: 0.3;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  text-align: center;
  z-index: 1; /* Ensures text is above the image */
}

#column-title {
  font-weight: bold;
}

#column-title:hover {
  border-bottom: 2px solid var(--text-color);
}

/* SingleProject  */

.project-image {
  margin: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.project-instructions {
  font-size: 20px;
  font-family: serif;
  font-weight: 300;
}

.line-buffers {
  margin-top: 20px;
  margin-bottom: 20px;
}
.materials-list {
  list-style-type: none;
}
